<div class="table">
	<table id="customers">
		<tr>
			<th>Day</th>
			<th>1st Half Timing</th>
            <th>2nd Half Timing</th>
		</tr>

		<!-- <tr *ngFor="let time of openTimeArray">
			<td>{{time.day}}</td>
			<td>{{getFirstHalfTime(time)}}</td>
            <td>{{getSecondHalfTime(time)}}</td>
		</tr> -->
        <tr>
            <td>Monday</td>
            <td>8:30 AM to 12:00 PM</td>
            <td>3:00 PM to 10:00 PM</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>8:30 AM to 12:00 PM</td>
            <td>3:00 PM to 10:00 PM</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>8:30 AM to 12:00 PM</td>
            <td>3:00 PM to 10:00 PM</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>Closed</td>
            <td>3:00 PM to 10:00 PM</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>8:30 AM to 12:00 PM</td>
            <td>3:00 PM to 9:00 PM</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>9:00 AM to 12:00 PM</td>
            <td>12:00 PM to 6:00 PM</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>9:00 AM to 12:00 PM</td>
            <td>12:00 PM to 10:00 PM</td>
        </tr>
	</table>
</div>