/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.margin15 {
    margin: 15px 0;
}

.width100 {
    width: 100%;
}

.margin-top15 {
    margin-top: 15px;
}

.align-center {
    text-align: center;
}
.example-tooltip-red {
  background: #b71c1c;
  font-size: 15px;
}