/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.margin15 {
    margin: 15px 0;
}

.width100 {
    width: 100%;
}

.margin-top15 {
    margin-top: 15px;
}

.align-center {
    text-align: center;
}
.example-tooltip-red {
  background: #b71c1c;
  font-size: 15px;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: cadetblue;
    color: white;
    text-align: center;
  }
  .table{
      margin-top: 15px;
  }
  .pointer {
    cursor: pointer;
  }
